# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/infy1/v16
/infinity_hook_pro/infinity_hook_pro/x64/Debug
/infinity_hook_pro/.vs/infinity_hook_pro/v16
/infinity_hook_pro/x64/Debug
